<a href="https://colab.research.google.com/github/sipocz/Twitter-Sentiment-Analysis-AI-Challenge/blob/main/Sentiment_Net.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd

In [6]:
fname="https://github.com/sipocz/Twitter-Sentiment-Analysis-AI-Challenge/raw/5f1b18584a67905e021e1f495619a124247a5330/Train_all_sentence.fth"

In [7]:
!wget $fname

--2021-10-05 18:42:13--  https://github.com/sipocz/Twitter-Sentiment-Analysis-AI-Challenge/raw/5f1b18584a67905e021e1f495619a124247a5330/Train_all_sentence.fth
Resolving github.com (github.com)... 13.114.40.48
Connecting to github.com (github.com)|13.114.40.48|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/sipocz/Twitter-Sentiment-Analysis-AI-Challenge/5f1b18584a67905e021e1f495619a124247a5330/Train_all_sentence.fth [following]
--2021-10-05 18:42:14--  https://raw.githubusercontent.com/sipocz/Twitter-Sentiment-Analysis-AI-Challenge/5f1b18584a67905e021e1f495619a124247a5330/Train_all_sentence.fth
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.109.133, 185.199.111.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2951338 (2.8M) [application/octet-stream]
Saving to: â€˜Train_all_sentence.fthâ€™

Train_all_sentence. 100%[===================>]   2.81M  --.-KB/s    in 0.08s

2021-10-05 18:42:15 (34.4 MB/s) - â€˜Train_all_sentence.fthâ€™ saved [2951338/2951338]

In [8]:
df=pd.read_feather("Train_all_sentence.fth")

In [9]:
df.head()

             tweet_id  ...                                       sentece_code
0  570018445695148033  ...  [8325, 1798, 6541, 3856, 7342, 7023, 3734, 350...
1  568830255282040832  ...                     [3551, 8173, 2175, 8319, 4965]
2  569296356143050754  ...  [1562, 7772, 2657, 153, 6712, 502, 1, 3029, 82...
3  569936640669581313  ...            [4323, 502, 7402, 694, 2175, 7772, 197]
4  569542242983124992  ...  [4092, 457, 7871, 3170, 2829, 8213, 1, 3170, 1...

[5 rows x 17 columns]

In [ ]:

# ImportÃ¡ld a megfelelÅ‘ rÃ©tegeket
from tensorflow.keras.layers import Input,Dense,Embedding,LSTM,TimeDistributed
from tensorflow.keras.models import Model
from tensorflow.keras.optimizers import Adadelta,Adam,SGD
from tensorflow.keras.losses import sparse_categorical_crossentropy
from tensorflow.keras import backend as K
# Gondolj bele, hogy a hÃ¡lÃ³ban az elsÅ‘ rÃ©teg egy "beÃ¡gazÃ¡s" kell majd legyen
# Ne feledd behozni a funkcionÃ¡lis vagy szekvenciÃ¡lis API-nak megfelelÅ‘ "fÅ‘" osztÃ¡lyt
# Adott esetben az optimalizÃ¡lÃ³t
# Nem kÃ¼lÃ¶mben a "bakcendet", hogy jÃ³ gyakorlat szerint reseteld a grÃ¡fot
#tf.reset_default_graph()
K.clear_session
x= Input(shape=(max_input_length,))
embedded_x=Embedding(n_words+1,embedding_size, input_length=max_input_length-1, mask_zero=True)(x)
lstm_output=LSTM(lstm_size,return_sequences=True)(embedded_x)
lstm_output=LSTM(lstm_size,return_sequences=True)(lstm_output)
predictions= Dense(n_words+1, activation="softmax")(lstm_output)
model=Model(inputs=x, outputs=predictions)